@charset "UTF-8";

:root {
    /* 칼라변수 */
    --black : #000;
    --white : #fff;
    --grey1 : #111;
    --greyc6 : #c6c6c6;
    --greyd8 : #d8d8d8;
    --greyf8 : #f8f8f8;
    --greyf0 : #f0f0f0;

    --color-f4 : #f4f5fa;
    --color-ed : #edf1f5;
    --color-e7 : #e7e7f2;
    --color-red1 : #e00;
    --shadowColor1 : rgba(0,0,0,.3);

    /* 박스테두리 */
    --box-border1 : 1px solid var(--black);-

    /* 박스그림자설정 */
    --box-shadow : 5px 5px 5px var(--shadowColor1);
}